*{
  font-family: Helvetica, Arial;
  
}

body{
  padding: 60px;
  background-color: #21232A;
  color: white;
}

.Title{
  font-size: 35px;
}

input{
  width: 100%;
  font-size: 1.3rem;
  color: grey;
}

.card-grid{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.Header-Title{
  display: flex;
  
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-logo {
height: 10vmin;
pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}